@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Dancing+Script:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Nunito:wght@300;400;600;700&display=swap");
:root {
  --primary-color: #325288;
  --secondary-color: #f4eee8;
  --third-color: #f5cebe;
  --dark-green: #114e60;
  --text: black;
  // fonts
  --logo: "Caveat", cursive;
  --headers: "Dancing Script", cursive;
  --nunito: "Nunito", sans-serif;
  --regular: "Montserrat", sans-serif;
  //font size
  --regular-font: 1.1rem;
  --logo-font: 2.6rem;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--secondary-color);
  font-size: var(--regular-font);
  h2,
  h3 {
    font-family: var(--headers);
    font-size: 3.5rem;
    font-weight: 800;
    padding: 1.5rem 0;
  }
  h3 {
    font-size: 2.8rem;
  }
  h4 {
    font-family: var(--nunito);
    margin-bottom: calc(var(--regular-font) * 0.7);
  }
  p {
    font-size: calc(var(--regular-font));
    font-family: var(--regular);
  }
}
.main {
  // max-width: 80rem;
  margin: 0 auto;
  // position: relative;

  .header {
    .header__video {
      position: absolute;
      width: 100%;
      max-height: 100vh;
      height: 100%;

      // z-index: -1;
      #back-video {
        object-fit: cover;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 25%;
      }
    }
    .header__content {
      position: relative;
      width: 80rem;
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 20vh;

        .header__logo {
          font-family: var(--logo);
          font-weight: 800;
          font-size: 3rem;
          color: var(--primary-color);
          letter-spacing: 0.1rem;
        }
        .header__nav-links {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 50%;
          li {
            list-style: none;
          }
          a {
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
            font-family: var(--nunito);
            font-size: var(--regular-font);
            color: var(--text);
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            text-align: center;
            &:hover {
              // transform: scale(1.1);
              // transition: transform 0.3s ease-in-out;
              text-shadow: 1px 1px 25px;
              // z-index: 1;
            }
            &:hover::before {
              width: 100%;
              transition: all 0.4s;
            }

            &::before {
              content: "";
              width: 0%;
              height: 0.25rem;
              display: block;
              background-color: var(--dark-green);
              margin-bottom: 10px;
            }
          }
        }
      }
      .header__brandline {
        padding: calc(var(--regular-font) * 2) 0;
        text-align: center;
        margin: auto;
        width: 60%;
        position: relative;
        overflow: hidden;

        h1 {
          font-family: var(--regular);
          font-size: calc(var(--regular-font) * 5.5);
          font-weight: 500;
          cursor: default;
          text-shadow: 2px 2px 60px;
          .typewrite {
            text-decoration: none;
            color: var(--dark-green);
            cursor: default;
          }
        }
        button {
          margin-top: calc(var(--regular-font) * 2);
          padding: calc(var(--regular-font) * 0.7)
            calc(var(--regular-font) * 1.3);
          font-size: calc(var(--regular-font) * 1);
          border-radius: 8px;
          background-color: var(--primary-color);
          color: var(--secondary-color);
          text-decoration: none;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
  .features,
  .services,
  .testimonials,
  .about,
  .footer {
    padding-top: 15rem;
    max-width: 80rem;
    margin: 0 auto;
    align-items: center;
    text-align: center;
  }
  .features {
    max-width: 65%;
    p {
      font-size: calc(var(--regular) * 1.4);
    }
    .features__card-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      grid-gap: calc(var(--regular-font) * 2.5);
      margin-top: calc(var(--regular-font) * 4);

      .features__card {
        display: flex;
        // background-color: red;
        text-align: left;
        padding: calc(var(--regular-font) * 2);
        border-radius: 8px;
        &:hover,
        :focus {
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
          transition: box-shadow 300ms ease-in-out;
          background-color: var(--third-color);
          // background-color: grey;
          color: var(--dark-green);

          // color: var(--secondary-color);

          .features__card-icon-div .features__card-icon {
            background-color: var(--secondary-color);
          }
        }
        .features__card-icon-div {
          margin-right: calc(var(--regular-font) * 1.5);
          .features__card-icon {
            width: calc(var(--regular-font) * 4);
            background-color: var(--third-color);
            padding: 0.6rem;
            border-radius: 30%;
          }
        }

        .features__card-content {
          width: 70%;
          float: right;
          h4 {
            font-size: calc(var(--regular-font) * 1.2);
          }
          p {
            font-size: calc(var(--regular-font) * 0.85);
            font-family: var(--regular);
          }
        }
      }
    }
  }
  .services {
    width: 80%;
    .services__card-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: calc(var(--regular-font) * 2.5);
      margin-top: calc(var(--regular-font) * 6);
      .service__card-image img {
        width: 90%;
        height: 10rem;
      }
    }
    .service__card {
      // background-color: red;
      // text-align: left;
      padding-right: 3rem;
      padding: 1rem;
      // border-radius: 3%;
      padding-bottom: 3rem;

      .service__card-content {
        text-align: left;
        h4 {
          margin: 1rem 0;
          font-size: calc(var(--regular-font) * 1.2);
        }
        .service__card-subheading {
          color: var(--primary-color);
        }
        .service__content {
          margin-top: 0.7rem;
          p {
            font-size: calc(var(--regular-font) * 0.85);
            font-family: var(--regular);
          }
        }
      }
      &:hover {
        .service__card-image img {
          width: 95%;
          height: 10.5rem;
        }
        h4 {
          color: var(--dark-green);
        }

        box-shadow: 10px 10px 10px rgba(245, 206, 190, 0.5);
      }
    }

    .services__container {
      display: grid;
      grid-gap: calc(var(--regular-font) * 8);
      // margin-top: 10rem;
      max-width: 90%;
      margin: 0 auto;
      margin-top: calc(var(--regular-font) * 9);
      align-items: center;
      text-align: center;
      .services__contain {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        .services__image {
          img {
            max-width: 100%;
            min-width: 50%;
          }
        }
        .services__image-desc {
          // width: 40%;
          text-align: left;
          justify-content: center;
          margin: 0 auto;
          h3 {
            font-family: var(--nunito);
          }
          p {
            font-size: calc(var(--regular-font) * 1);
            font-family: var(--regular);
          }
        }
      }
    }
  }
}
